
.containar{
    display: flex;
    font-size: 1.5rem;
    text-align: left;
    align-items:center;
    margin: 0px 3rem;
}
/* // LHS */
.containar .lhs{
    min-width: 50%;
   
}
.containar .lhs .headingTex{
    margin: 0px 0px 2rem;
}
.containar .lhs .socialMediaButtons{
    display: flex;
    justify-content:left;
    gap:2rem
}
.containar .lhs .socialMediaButtons button{
    border: none;
}
.containar .lhs .socialMediaButtons button svg{
    font-size: 2rem;
    background-color: white;
    cursor: pointer;
}
.lhs #viewResume{
    margin: .6rem 0px 0px ;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: bold;
    border: .2rem solid palevioletred;
    cursor: pointer;
    font-size: 1.3rem;
}